<table>
  <tr>
  	<td width='50' bgcolor='#eee'><%= idea.description %></td>
  	<td> | Likes</td>
  	<td><%= idea.likes %></td>
    <td> | <%= link_to image_tag( 'like.gif', :border=>0, :title=>'Like'), agenda_idea_path(@agenda.id, idea.id), :method => :put %></td>
    <% if user_signed_in? && current_user.role == "admin" %>
      <td> | <%= link_to image_tag( 'iconDelete.gif', :border=>0, :title=>'Delete'), [idea.agenda, idea], :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
  <tr>
    <td><div class="idea-separator round"></div></td>    
    <td></td>
    <td></td>
    <td></td>
    <% if user_signed_in? && current_user.role == "admin" %>
      <td></td>
    <% end %>
  </tr>
</table>