<table>
  <tr>
  	<td width='50'></td>
  	<td width='350'><%= idea.description %></td>
  	<td> | Likes</td>
  	<td><%= idea.likes %></td>
  	<td> | <%= link_to 'Like Idea', agenda_idea_path(@agenda.id, idea.id), :method => :put %></td>
  	<td> | <%= link_to 'Destroy Idea', [idea.agenda, idea], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
</table>

<table>
  <tr>
  	<td width='50'></td>
  	<td width='350'><div class="idea-separator round"></div></td>
  </tr>
</table>