<table>
  <tr>
  	<td width='550' bgcolor='#eee'><%= @idea.description %></td>
  </tr> 
  <tr>
  	<td width='550' height='20'></td>
  </tr> 
  <tr>
  	<td width='550' align='center'><%= link_to 'Back', agenda_path(@agenda.id) %></td>
  </tr> 
</table>
