<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Topics">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Topic Title</Data></Cell>
        <Cell><Data ss:Type="String">Owner</Data></Cell>
        <Cell><Data ss:Type="String">Creation Date</Data></Cell>
        <Cell><Data ss:Type="String">Number of ideas</Data></Cell>
      </Row>
    <% @agendas.each do |agenda| %>
      <Row>
        <Cell><Data ss:Type="String"><%= agenda.title %></Data></Cell>
        <Cell><Data ss:Type="String"><%= agenda.owner %></Data></Cell>
        <Cell><Data ss:Type="String"><%= agenda.created_at.to_datetime.strftime("%b %e at %H:%M ") %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= agenda.ideas.count %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>